html,body {
    font-size: 12px;
    overflow: auto;
    height:100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
.main {
    position: relative;
    min-height: 100%;
    height:100%;
    padding-top: 116px;
    overflow: hidden;
}
.main.content {
	padding-top: 0px;
}
a:focus {
	outline:none;
	-moz-outline:none;
}
.sl-a,.sl-a:hover,.sl-a:focus {
	color:#000;
}

.JColResizer{table-layout:fixed;} 
.JColResizer > tbody > tr > td, .JColResizer > tbody > tr > th{overflow:hidden;padding-left:0!important; padding-right:0!important;}  .JCLRgrips{ height:0px; position:relative;} .JCLRgrip{margin-left:-5px; position:absolute; } 
.JCLRgrip .JColResizer{
	position:absolute;
	filter:alpha(opacity=1);
	width:8px;
	height:100%;
	cursor: e-resize;top:0px
} 
.JCLRLastGrip{position:absolute; width:1px; } .JCLRgripDrag{ border-left:1px dotted black;	} .JCLRgrip.JCLRdisabledGrip .JColResizer{cursor:default; display:none;}

.JRWRgrips {
   height: 0px;
   position: relative;
}
.JRWRgrip {margin-top: -5px; position:absolute; z-index:5; }
.JRWRgrip .JRWResizer {
    position: absolute;
    filter: alpha(opacity=1);
    height: 8px;
    width: 100%;
    cursor: n-resize;
    top: 0px;
}
.JColResizer:hover,.JRWResizer:hover {
	background: #c9daf8;
}

.nooutline:focus {
	outline:none;
}

.tbheader {
   background: #f3f3f3;
   text-align: center;
}
.td-active {
  background: #ccc;
}
.tb {
  border-collapse: separate;
  table-layout:fixed;
  background: #fff;
}
.tb-all {
  border-collapse:collapse;
  table-layout:fixed;
  background: #fff;
}
.tb-all td {
   border: 1px solid rgba(204,204,204,0.4);
}
.attrtb tr {
   height:29px;
}
.tb td {
  word-break: break-all; word-wrap:break-word;
  border-top-width: 0;
  border-left-width: 0;
  border-right: 1px solid rgba(204,204,204,0.4);
  border-bottom: 1px solid rgba(204,204,204,0.4);
}
.stc {
  border-top-width: 1px;
  border-top-style: solid;
}
.slc {
  border-left-width: 1px;
  border-left-style: solid;
}
.src {
  border-right-width: 1px;
  border-right-style: solid;
}
.sbc {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.sac {
  border-width:1px;
  border-style: solid;
}
.tdborder {
  position: absolute;
  background: #3c763d;
}
.tdborder-dashed {
  position: absolute;
  border:1px dashed #3c763d;
}
.tdborder-expand-unit {
  position: absolute;
  border:1px dashed #5b5b60;
}
.tdinput {
  position: absolute;
}
.tdinput textarea {
  border:none;
  outline-width: 0;
  margin: 0;
  box-shadow: 0 0 0 2px #3c763d inset;
  resize: none;
  display: inline-block;
  color: #000;
  border-radius: 0;
  background-color: #FFF;
}
.tdborder.area {
 background: #3c763d;
 height: 5px;
 width: 5px;
 border: 2px solid #fff;
 cursor: crosshair;
}
.bold {
  font-weight:bold;
}
.italic{
  font-style: italic;
}
.underline {
  text-decoration:underline;
}
.vtop > div > .sv {
  display:table-cell;vertical-align:top;
}
.vmiddle > div > .sv {
  display:table-cell;vertical-align:middle;
}
.vbottom > div > .sv {
  display:table-cell;vertical-align:bottom;
}
.btn {
  padding: 0px 0px;
  border-radius: 0px; 
}
.dropdown-menu li a {
  padding: 4px 5px;
}
pre{
white-space: pre-wrap;       
white-space: -moz-pre-wrap;  
white-space: -pre-wrap;      
white-space: -o-pre-wrap;    
word-wrap: break-word;       
}

/* ---------------------------------------------------------------------- */
/*  Top Navbar Header
/* ---------------------------------------------------------------------- */
.fixed-top {
    position: fixed;
}
.header-top {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    background-color: #fff;
    transition: left 0.2s, right 0.2s;
    -webkit-transition: left 0.2s, right 0.2s;
}
/*#005951*/
.header-top .navbar-header {
    background-color: #3b3f51;
}

.navbar-brand {
     height: 30px;
}

.header-top .navbar-brand {
    font-size: 12px;
    color: #fff;
    text-align: center;
    transition: color 0.2s;
    padding: 0px 50px;
    line-height: 30px;
    -webkit-transition: color 0.2s;
}

.header-top .navbar-nav>li>a{
    color: #7f888f;
}

.header-top .navbar-nav>li>a:hover,
.header-top .navbar-nav>li>a:focus {
    color: #7f888f;
    background-color: #F6F9FA;
}

.header-top .navbar-nav>li>a .badge{
    font-size: 10px;
    padding: 2px 4px;
}
.badge-danger {
    background-color: #dd5a43;
}

@media (min-width: 768px) {
    .header-top .navbar-header {
        width: 285px;
    }
    .header-top .navbar-nav>li>a .badge {
        position:absolute;
        top: 7px;
        right: 5px
    }
}
/* ---------------------------------------------------------------------- */
/*  Left bar
/* ---------------------------------------------------------------------- */
.leftbar-fixed {
    position: fixed;
}

.leftbar {
    top: 30px;
    left:60px;
    width: 220px;
    height: 100%;
    padding-bottom: 50px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    z-index: 11;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
}

.rightbar {
    position: fixed;
    right:0;
    top: 117px;
    width: 280px;
    height: 100%;
    padding-bottom: 50px;
    background-color: #fff;
    border-left: 1px solid #ddd;
    z-index: 11;
    transition: left 0.2s;
    -webkit-transition: left 0.2s;
}

.leftbar-close .navbar-header {
    width:60px;
    text-align: center
}

.leftbar-close .navbar-brand {
    display: none;
}

.leftbar-close .navbar-brand.logo {
    display: block;
}

.leftbar-close .leftbar {
    width:60px;
}

.leftbar-close .side-nav>li>a {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px
}

.left-menu-ul {
    list-style: none;
    padding: 5px 0px;
}
.left-menu-ul li {
    height: 24px;
}
.left-menu-ul li a {
    color: #777;
    text-decoration: none; 
    height: 24px;
    line-height: 24px;
    padding-left:15px;
}

.left-menu-ul li:hover,
.left-menu-ul li:focus{
    background: #ccc;
}

#arg-component li {
	padding-left:30px;
}

.menu-active {
	color: #fff !important;
    background-color: rgba(0,0,0,.1);  
}
.chart-img-active {
    border: 2px solid #478fca !important;
}

/* ---------------------------------------------------------------------- */
/*  Page content
/* ---------------------------------------------------------------------- */
.main-box {
    position: relative;
    height:100%;
    overflow:hidden;
    transition: left 0.2s, right 0.2s;
    -webkit-transition: left 0.2s, right 0.2s
}
.leftbar-close .main-box {
    margin-left:60px;
}

@media (min-width: 768px) {
    .main-box {
        margin-left:280px;
        left: 0 !important
    }
}

@media (max-width: 767px) {
    .main-box {
        left:0
    }
}

.page-heading .breadcrumb a {
    color: #999999;
}
.page-heading .breadcrumb a:hover {
    color: #777;
    text-decoration: none;
}
.breadcrumb {
    background-color:#F1F4F7;
    margin-bottom: 0px;
}
.page-menu,.page-condition {
    background-color:#ffffff;
}
.page-menu ul>li {
    height: 40px;
    width: 44px;
}

.page-menu .navbar-nav>li>a {
    padding:8px;
    color:#777;
}

.page-menu .navbar-nav>li>a:hover,
.page-menu .navbar-nav>li>a:focus{
    background-color: #F6F9FA;
}

.table-content {
	padding-right:10px;
	padding-left:10px;
	padding-top:8px;
	overflow: auto;
}

.tool-menu {
    list-style: none;
    padding: 5px 0px;
    height: 30px;
}
.tool-menu > li {
    padding: 0px 5px;
    float:left;
}

.tool-menu.margin > li,
.top-menu > li{
    margin-right: 6px;
}

.tool-menu a {
    color: #222;
    line-height: 32px ;
    height: 32px;
}

.top-menu {
    list-style: none;
    padding: 5px 0px;
    height: 22px;
}

.top-menu li {
    padding: 0px 5px;
    float:left;
}

.bg-border {
    border-top-style: solid;
    border-top-width: 3px;
}

.bg-border-margin {
    margin-top:-6px;
    margin-left:-2px;
}

.font-border-margin {
    margin-top:-6px;
}

.tool-menu a:hover,
.tool-menu a:focus,
.big-tool-menu a:hover,
.big-tool-menu a:focus,
.top-menu a:hover,
.top-menu a:focus,
.td-list-menu a:hover,
.td-list-menu a:focus{
   text-decoration:none;
}

.tool-menu > li:hover,
.big-tool-menu >li:hover,
.top-menu > li:hover{
    background: #ddd;
}

.tl-hover {
    background: #ddd;
}

.nav-tool {
    line-height: 32px ;
    height: 32px;
}

.nav-tool > li {
    height: 32px;
}

.nav-tool > li>a:hover{
    background: #ddd !important;
}

.nav-tool > li > a {
    padding: 8px 0px; 
    color: #5b5b60 !important;
    height: 33px;
}

.td-list-menu {
    list-style: none;
    padding: 2px 0px;
    height: 20px;
}

.td-list-menu li {
    padding: 0px 8px;
    float:left;
}

.td-list-menu a {
    color: #222;
    line-height: 20px ;
    height: 20px;
}

.only-a,
.only-a:hover,
.only-a:focus{
     color: #222;
    text-decoration:none;
}


.big-tool-menu,.left-tool-menu {
    list-style: none;
    padding: 10px 0px;
}

.big-tool-menu li {
    float: left;
    margin: 8px 13px;
    width: 65px;
    padding-top: 2px;
    text-align: center;
    position: relative;
    overflow: visible;
    border: 1px dashed transparent;
    border-radius: 3px;
}

.big-tool-menu li .icon-name {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #666;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-tool-menu li {
    float: left;
    margin: 8px 0px;
    width: 60px;
    padding: 3px 0px;
    padding-top: 2px;
    text-align: center;
    position: relative;
    overflow: visible;
}

.left-tool-menu li a {
    color: #c5c5c5;
}

.left-tool-menu li a:hover,.left-tool-menu li a:focus {
    text-decoration:none;
    color:#fff;
}

.left-tool-menu li .icon-name {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.left-tool-menu-active {
    background: #005951;
}

.left-tool-menu-active a {
    color: #fff !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border:1px solid #fff;
}

.success-full-page {
	padding-top:8px;
	padding-left:10px;
	padding-right:10px;
}
.success-full-page .alert {
	margin-bottom: 0px;
	text-align:center;
	font-size:14px;
}
.dropdown-menu a {
    padding-left: 10px;
    font-size:12px;
    height: 24px;
}
.dropdown-menu a i {
     padding-left: 10px;
     margin-right: 10px;
}
.dragUL {
  margin: 0;
  padding: 0px 3px;
  position: fixed;
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px #3c763d dotted;
  opacity: 0.8;
  z-index: 100;
}
/* ---------------------------------------------------------------------- */
/*  Page footer
/* ---------------------------------------------------------------------- */

.footer {
    background-color: #fff;
    height: 28px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 60px;
    padding: 5px;
    border-top: 1px solid #eee;
}

.leftbar-close .footer {
	left: 60px;
}

.row.row-panel {
    margin-right: -5px;
    margin-left: -5px;
}


/* ---------------------------------------------------------------------- */
/*  Panel  
/* ---------------------------------------------------------------------- */
.panel-st {
   color: #5b5b60;
   margin-left:2px;
}
.comp-tab {
	background: #eee;
}
.comp-tab a {
    padding: 0px 15px !important;
    border-radius: 0px 0px 0 0 !important;
    color: #555;
}
.panel-tab {
   background: #3b3f51;
}
.panel-tab > li > a {
    color: #fff;
}
.panel-tab > li > a:hover,
.panel-tab > li > a:focus{
    color: #555;
}
.nav-tabs {
    border-bottom: none;
}
.panel-tab a {
    padding: 5px 15px !important;
    border-radius: 0px 0px 0 0 !important;
}
.panel-rpt-tab {
    background: #eee;
}
.panel-rpt-tab a {
    color: #555;
}
.panel-rpt-tab a {
    padding: 1px 15px !important;
    border-radius: 0px 0px 0 0 !important;
}
.panel-rpt-tab > li > a:hover,
.panel-rpt-tab > li > a:focus{
    color: #555;
}

.panel-st,
.div-st {
   background-color: #ffffff;
   position: relative;
   color: #5b5b60;
   border: 0px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.tab-st a {
	color: #5b5b60;
}

.panel-ct {
   position:relative;
   overflow: none;
   background-color: #ffffff;
   border-radius: 4px;
   padding-left: 3px;
   padding-right: 3px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-box {
   position:relative;
   overflow: auto;
   background-color: #ffffff;
   border-radius: 4px;
   padding-top: 5px;
   padding-left: 3px;
   padding-right: 3px;
   margin-left:10px;
   margin-top:8px;
   margin-right:10px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-ct-no {
	background-color: #F1F4F7;
	-webkit-box-shadow: none;
}

/* div idrag */
.drag-box{ cursor: move; position: absolute; top: 30px; left: 30px; background-color: #FFF; border: 1px solid #CCCCCC; }
.drag-box.box-active {
    border: 1px solid #3c763d;
}
.drag-coor { width: 10px; height: 10px; overflow: hidden; cursor: se-resize; position: absolute; right: 0; bottom: 0; background-color: #09C; }

.drag-del {
   width: 16px; height: 16px; overflow: hidden; cursor: pointer; position: absolute; right: 0; top: 0;
}
.drag-box .title {
    border-bottom: 1px solid #CCCCCC;
}

/* ---------------------------------------------------------------------- */
/*  Form Component 
/* ---------------------------------------------------------------------- */

.form-control {
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #e5e6e7;
   border-radius: 1px;
   color: inherit;
   display: inline;
   padding: 2px 2px;
   transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   font-size: 12px;
   height:26px;
}

.form-control:focus {
   border-color: #1ab394 !important;
}

.form-control,.form-control:focus {
   box-shadow:none;
}

.control-label {
   padding-top:3px !important;
}

.form-group {
   margin-left:0px !important;
   margin-right:0px !important;
}

.form-group .text {
	padding:4px 0px;
}

.checkbox,.radio {
   display: block;
   width: 100%;
   height: 100%;
   margin: 0px;
   padding: 0px;
   border: 0px;
   opacity: 0;
   background: rgb(255, 255, 255);
}

.icheckbox_minimal-green,

.iradio_minimal-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(icon/green.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_minimal-green {
   background-position: 0 0;
}
.icheckbox_minimal-green.hover {
   background-position: -20px 0;
}
.icheckbox_minimal-green.checked {
   background-position: -40px 0;
}
.icheckbox_minimal-green.disabled {
   background-position: -60px 0;
   cursor: default;
}
.icheckbox_minimal-green.checked.disabled {
   background-position: -80px 0;
}

.iradio_minimal-green {
   background-position: -100px 0;
}
.iradio_minimal-green.hover {
   background-position: -120px 0;
}
.iradio_minimal-green.checked {
   background-position: -140px 0;
}
.iradio_minimal-green.disabled {
   background-position: -160px 0;
   cursor: default;
}
.iradio_minimal-green.checked.disabled {
   background-position: -180px 0;
}

.btn {
   transition: all 0.3s ease 0s !important;
   background-image: none !important;
   box-shadow: none !important;
   outline: none !important;
   position: relative;
}

.btn-sm-st {
   padding: 3px 10px !important;
}

.btn-default:focus {
   border-color: #1ab394 !important;
}

.btn-squared {
   border-radius: 0 !important;
}

.btn-success {
   background-color: #5cb85c;
   border-color: #5cb85c;
   color: #ffffff;
}

.btn-success:focus {
   background-color: #91cf91;
}

.btn-submit {
   background-color: #5F69E0;
   border-color: #5662D1;
   color: #ffffff;
}

.btn-submit:hover,
.btn-submit:focus{
    background-color: rgba(86, 98, 209, 0.84);;
    border-color: rgba(86, 98, 209, 0.84);;
    outline: none;
    color: #ffffff;
}

.btn-info {
    background-color: #46b8da;
    border-color: #46b8da;
    color: #ffffff;
}

.btn-info:hover,
.btn-info:focus {
    background-color: #71c8e2 !important;
    border-color: #71c8e2;
    color: #ffffff;
}

.btn-select {
   background-color: #fff;
   border-color: #e5e6e7;
   border-radius: 0;
   height:22px;
   padding:0px 12px 0px 12px !important;
   font-size: 12px;
}

.btn-select:focus {
   border-color: #91cf91;
}

.inputNoBorder {
   border:0px;
}

.has-error .inputNoBorder {
   border: 1px solid #a94442;
}

.comp-error {
	border: 1px solid #a94442 !important;
}


/* ---------------------------------------------------------------------- */
/*  Page Font Icon 
/* ---------------------------------------------------------------------- */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.deep-blue {
   color: #3f8fbe !important;
}

.purple {
   color: #a069c3!important;
}

.red {
   color: #dd5a43!important;
}

.deep-red {
   color: #a94442 !important;
}

.blue {
   color: #478fca!important;
}

.orange {
   color: #ff892a!important;
}

.deep-orange {
	color : #c8732f !important;
}

.green {
   color: #69aa46!important;
}

.deep-green {
	color: #1e7145 !important;
}

.white {
    color: #fff;
}

.blue1 {
   color: #25bce9!important;
}
.blue2 {
	color :#0064b6 !important;
}
.gray {
   color: #999 !important;
}

.bg-white {
    background-color: #fff;
}

.bg-orange {
    background-color: #ff892a!important;
}
.bg-blue {
    background-color: #478fca!important;
}
.bg-green {
    background-color: #69aa46!important;
}
.bg-red {
    background-color: #dd5a43!important;
}
.bg-purple {
   background-color: #a069c3!important;
}
.bg-night-dark {
   background-color: #2c3e50!important;
}
.bg-orange-dark {
   background-color: #d35400!important;
}
.bg-gray-dark {
   background-color: #95a5a6!important;
}

.icon-size-12 {
   font-size:12px;
}

.icon-size-14 {
   font-size:14px;
}

.icon-size-16 {
   font-size:16px;
}

.icon-size-18 {
   font-size:18px;
}

.icon-size-20 {
   font-size:20px;
}

.icon-size-26 {
   font-size:26px;
}

.icon-size-28 {
   font-size:28px;
}

